// main: ../../../style.sass
// main: ../../../style__sunrise.sass

.jon
  display: flex
  @include prefix(justify-content, space-between)

.jon__container
  position: relative
  width: calc(50% - #{$modulor}/2)
  padding: $modulor*3
  border-radius: $modulor

.jon__content
  width: 66%

.jon__text
  font-family: "roobert", Helvetica, sans-serif
  margin: $modulor 0 $modulor*6 0

.jon__soumission
  .jon__back
    background: $color__12

  .jon__overlay
    background: linear-gradient(135deg, rgba($color__12, 1) 50%, rgba($color__12, 0) 100%)

  .jon__title
    color: $color__08

  .jon__text
    color: $color__04

  .btn--plain
    &:hover
      color: $color__11

.jon__newsletter
  .jon__back
    background: $color__08

  .jon__overlay
    background: linear-gradient(135deg, rgba($color__08, 1) 50%, rgba($color__08, 0) 100%)

  .jon__title
    color: $color__12

  .jon__text
    color: $color__10

  .btn--plain
    background: $color__12
    color: $color__08

.jon__back, .jon__overlay
  border-radius: $modulor
  overflow: hidden

.jon__back
  z-index: -1
