// main: ../../../style.sass


.thm
  text-align: center

.thm__title
  margin-bottom: $modulor*3

.thm__thms .btn
  margin-bottom: $modulor/2

.thm__more
  display: flex
  align-items: center
  flex-direction: column

  p
    width: 33%
