// main: ../../../style.sass

  Exemple de HTML :

    <button class="btn btn--outline">Mon Button</button>



.btn, a:link.btn, a:visited.btn
  display: inline-block
  padding: $modulor $modulor*1.5
  border-radius: $modulor*2
  font-family: "roobert", Helvetica, sans-serif
  font-size: $modulor
  line-height: $modulor
  font-weight: 600
  letter-spacing: 1px
  cursor: pointer
  box-shadow: none
  transition: all 2s

.btn:hover, a.btn:hover
  border-radius: $modulor/2
  box-shadow: 0 10px 20px rgba($color-btn-tooltips, 0.19), 0 6px 6px rgba($color-btn-tooltips, 0.23)
  transition: all 0.2s

.btn--plain
  background: $color-secondaire
  color: $color-back
  border: 2px solid $color-secondaire

.btn--outline
  background: none
  color: $color-principale
  border: 2px solid $color-secondaire
