// main: ../../../style.sass

  Exemple de HTML :

    <button class="btn btn--outline">Mon Button</button>



.btn, a:link.btn, a:visited.btn
  display: inline-block
  padding: $modulor $modulor*1.5
  border-radius: $modulor*2
  font-family: "roobert", Helvetica, sans-serif
  font-size: $modulor
  line-height: $modulor
  font-weight: 600
  letter-spacing: 1px
  cursor: pointer
  box-shadow: none
  transition: all 2s

  &:hover
    border-radius: $modulor/2
    @include box-shadow(5, $color-btn-tooltips)
    transition: all 0.2s

.btn--plain
  background: $color-secondaire
  color: $color-back
  border: 2px solid $color-secondaire

.btn--outline
  background: none
  color: $color-principale
  border: 2px solid $color-secondaire

.btn--big, a:link.btn--big, a:visited.btn--big
  display: inline-block
  margin: $modulor/5
  padding: $modulor*1.5 $modulor*2
  border-radius: $modulor*5
  font-size: $modulor*3
  line-height: $modulor*3
  color: $color-principale
  background: $color-back
  border: 3px solid $color__10
  box-shadow: none
  transition: all 2s

  &:hover
    border-radius: $modulor
    border: 3px solid $color__06
    @include box-shadow(100, $color__12)
    transition: all 0.2s
