// main: ../../../style.sass

  Exemple de HTML :

  <form class="form" action="./core/modifier__diffuseur.php" method="post">
    <div class="form__input-container">
      <input type="hidden" name="diffuseur__id" placeholder="Id" class="form__input-full" value="<?php echo $row["diffuseur__id"] ?>">
      <input type="text" name="societe" placeholder="Société" class="form__input-half" value="<?php echo $row["diffuseur__societe"] ?>">
      <input type="text" name="siret" placeholder="Siret" class="form__input-half form__input-seperator" value="<?php echo $row["diffuseur__siret"] ?>">
    </div>
      <input type="submit" name="Enregistrer" value="Enregistrer" class="btn btn--plain">
  </form>



::placeholder
  color: $color-secondaire
.form
  float: left
  width: 100%

.form__rgpd
  margin: $modulor/2 0
  float: left
  width: 100%

.form__input-container
  margin: $modulor*3 0
  float: left
  width: 100%
  border-top: 1px solid $color-secondaire
  border-bottom: none

  input, textarea, .form__custom-select
    float: left
    height: $modulor*2
    padding: $modulor*3 0
    border: none
    border-bottom: 1px solid $color-secondaire
    resize: none
    font-size: $modulor*3
    color: $color-principale
    background: white
    transition: background 0.5s

  textarea
    padding: $modulor 0
    height: $modulor*14

  input:focus, textarea:focus
    background: lighten($color-secondaire, 30%)
    outline: none
    transition: background 0.5s

  .form__input-full
    width: 100%

  .form__input-half
    width: 50%

  .form__input-seperator
    padding-left: $modulor*2
    border-left: 1px solid $color-secondaire


@media (max-width: 576px)
  .form__input-container
    .form__input-half
      width: 100%

    .form__input-seperator
      border-right: none

  .form input[type="submit"],
  .form input[type="reset"],
  .form input[type="button"]
    display: block
    width: 50%
    margin: 0 auto
