// main: ../../../style.sass
// main: ../../../style__sunrise.sass

  Exemple de HTML :

  <form action="<?php echo get_stylesheet_directory_uri(); ?>/script/action__send-contact-form.php" method="post">
    <div class="form__input-container ">
      <input type="text" class="form__input-half" placeholder="Nom*" name="nom" value="" required>
      <input type="email" class="form__input-half form__input-seperator" placeholder="Email*" name="email" value="" required>
      <input type="text" class="form__input-full" placeholder="Sujet*" name="sujet" value="" required>
      <textarea class="form__input-full" placeholder="Message*" name="message" value="" required></textarea>
    </div>
      <input type="submit" name="submit" value="<?php _e("Envoyer votre message","lesailleurs") ?>" class="btn btn--outline">
  </form>



::placeholder
  color: $color-secondaire
.form
  float: left
  width: 100%

.form__rgpd
  margin: $modulor/2 0
  float: left
  width: 100%

.form__input-container
  margin: $modulor*3 0
  float: left
  width: 100%
  border-top: 1px solid $color-secondaire
  border-bottom: none

  input, textarea, .form__custom-select
    float: left
    height: $modulor*2
    padding: $modulor*3 0
    border: none
    border-bottom: 1px solid $color-secondaire
    resize: none
    font-size: $modulor*3
    color: $color-principale
    background: white
    transition: background .5s

  textarea
    padding: $modulor 0
    height: $modulor*14

  input:focus, textarea:focus
    background: lighten($color-secondaire, 30%)
    outline: none
    transition: background .5s

  .form__input-full
    width: 100%

  .form__input-half
    width: 50%

  .form__input-seperator
    padding-left: $modulor*2
    border-left: 1px solid $color-secondaire


@media (max-width: 576px)
  .form__input-container
    .form__input-half
      width: 100%

    .form__input-seperator
      border-right: none

  .form input[type="submit"],
  .form input[type="reset"],
  .form input[type="button"]
    display: block
    width: 50%
    margin: 0 auto
