// main: ../../../style.sass
.row
  float: left
  width: 100%

.wrapper-center
  width: 1140px
  margin: 0 auto

.col
  float: left
  padding: $modulor/2 0

.l1
  width: 8.33%
.l2
  width: 16.66%
.l3
  width: 25%
.l4
  width: 33.33%
.l5
  width: 41.66%
.l6
  width: 50%
.l7
  width: 58.33%
.l8
  width: 66.66%
.l9
  width: 75%
.l10
  width: 83.33%
.l11
  width: 91.66%
.l12
  width: 100%

// marges

.m1
  margin-left: 8.33%
.m2
  margin-left: 16.66%
.m3
  margin-left: 25%
.m4
  margin-left: 33.33%
.m5
  margin-left: 41.66%
.m6
  margin-left: 50%
.m7
  margin-left: 58.33%
.m8
  margin-left: 66.66%
.m9
  margin-left: 75%
.m10
  margin-left: 83.33%
.m11
  margin-left: 91.66%
