// main: ../../../style.sass


// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px)
 display: block

// Large devices (desktops, 992px and up)
@media (max-width: 992px)
 display: block

// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
 display: block

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
 display: block
