// main: ../../../style.sass


// Extra large devices (large desktops, up to 1200px)
@media (max-width: 1200px)
    display: block


@media (max-width: 1080px)
  .switch input
    width: $modulor *2.5

  input:checked+.slider:before
    transform: translateX(19px)

  .slc__marv1, .slc__marv2, .slc__marv4, .slc__marv3, .slc__marv5, .slc__marv6
    margin-bottom: $modulor *3
    margin-top: $modulor *3



// Large devices (desktops, up to 992px)
@media (max-width: 992px)

  .slc__marv1, .slc__marv2, .slc__marv3, .slc__marv4, .slc__marv5, .slc__marv6
    margin-bottom: $modulor *4
    margin-top: $modulor *4

// Medium devices (tablets, up to 768px)
@media (max-width: 768px)

  .slc__marh1, .slc__marh2, .slc__marh3, .slc__marh4, .slc__marh5, .slc__marh6
    margin: 0

  .slc__marv1, .slc__marv2, .slc__marv4, .slc__marv3, .slc__marv5, .slc__marv6
    margin-top: $modulor

  .slc__lar1, .slc__lar2, .slc__lar3, .slc__lar4, .slc__lar5, .slc__lar6
    width: 100%

  .slc__slc
    min-height: 25vh
    height: auto

  .slc__infos
    width: 50%

  .slc__overlay
    opacity: 0

  .l-header__baseline.l3
    display: none

  .display1 *, .display1
    font-size: $modulor *2
    line-height: $modulor *3

  .display2 *, .display2
    font-size: $modulor *3
    line-height: $modulor *4

  .display3 *, .display3
    font-size: $modulor *5
    line-height: $modulor *6

  .lead_paragraph *, .lead_paragraph
    font-size: $modulor
    line-height: $modulor *2

  .cover__content
    padding: $modulor*2

  .l-footer__rs
    ul
      width: 100%
      margin-left: 0

// Small devices (landscape phones, up to 576px)
@media (max-width: 576px)

  .cover__container
    width: 100%

  .l-header__nav-fixed
    width: 75%
    padding-left: 0

  .l-header__nav-language
    padding: $modulor/2

  .col.l4.eve__desc-courte
    display: none

  .l2
    width: 100%

  .l8
    width: 83.34%

  .body
    br
      display: none

  .eve__eve, .col
    padding: 0

  .ebs__container
    display: block

  .ebs__links,
    width: 100%
    padding-top: $modulor
    padding-bottom: $modulor

  .l-footer__nav
    li
      width: 100%
      padding: 0

  .l-header__links
    li
      display: flex
      padding: 0

  .l-header__links
    li:first-of-type
      padding: 0

  .form__input-container
    .form__input-seperator
      padding-left: 0
      border-left: 0px


// Small devices (portraite phone up to 414px)
@media (max-width: 414px)

  .m4
    margin: 0

  .m3
    margin-left: 8.33%

  .l4
    width: 100%

  .l6
    width: 50%

  .thm
    text-align: left

  .thm__more
    p
      width: 100%
