// main: ../../../style.sass



// Couleurs Boreal

$boreal_1: #2D2E60
$boreal_2: #523D80
$boreal_3: #764B9C
$boreal_4: #806BB3
$boreal_5: #8B86C9
$boreal_6: #99A6E0
$boreal_7: #808FE2
$boreal_8: #667EE4
$boreal_9: #486BAA
$boreal_10: #2B5876
$boreal_11: #1A3C5A
$boreal_12: #09203F


// Palette Monobloc

$color-principale: black
$color-secondaire: $boreal_6
$color-accent: $boreal_9
$color-back: white
