// main: ../../../style.sass


  Le part selection gère l'affichage des selections sur le site


.slc
  position: relative
  overflow: hidden
  max-height: 1000vh
  transition: all 3s cubic-bezier(1, 0.03, 1, 1)


#slc__label
  position: absolute
  top: -$modulor*5
  left: -$modulor*5
  width: $modulor*10
  height: $modulor*10
  z-index: 1
  animation: 20s infinite ease-in-out  slc__label-rotate

@keyframes slc__label-rotate
  from
    transform: rotate(360deg)

  to
    transform: rotate(0)

// ReadMore System


.slc__readmore
  max-height: 300vh
  transition: all 3s

.slc__readmore-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: linear-gradient(0deg, rgba($color-back, 1) 10%, rgba($color-back, 0) 75%)
  pointer-events: none
  opacity: 1
  z-index: 1
  transition: opacity 3s

.ebs__readmore-btn
  position: absolute
  bottom: $modulor*3
  z-index: 1

.slc__full, .l-selection
  .slc__readmore
      max-height: 1000vh
  .slc__readmore-overlay,
  .slc__readmore-btn
    pointer-events: none
    opacity: 0
    transition: opacity 3s


// Template des oeuvres selectionnées

.slc__slc
  display: flex
  position: relative
  height: 25vw
  position: relative
  float: left
  padding: $modulor
  margin: $modulor/2
  cursor: pointer
  transition: all 2s

  &:hover
    border-radius: $modulor
    background-color: lighten($color-secondaire, 30%)
    transition: all 0.5s

    .slc__overlay
      opacity: 0
      transition: all 0.5s

    .slc__img
      border: 2px solid $color-principale
      transition: all 0.5s

    .slc__img, img
      border-radius: $modulor
      transition: all 0.5s

.slc__infos
  display: flex
  @include prefix(flex-direction, column)
  justify-content: space-between
  width: 25vw
  padding-right: $modulor

  span
    display: block
    width: 100%

.slc__img
  @include prefix(flex-grow, 1)
  position: relative
  background-color: $color__08
  border: 2px solid $color-back
  z-index: 1
  transition: all 4s

  img
    transition: all 4s

.slc__hashtag
  display: flex
  @include prefix(flex-direction, row)
  @include prefix(flex-wrap, wrap)
  padding-bottom: $modulor/2
  background-image: url('./assets/img/background__hashtag.svg')
  background-size: 1px 32px
  background-position: 0 7px
  border-top: 2px solid $color-principale

  li
    display: inline-block
    margin: $modulor/2 $modulor/4
    text-transform: capitalize

.slc__overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: linear-gradient(90deg, rgba($color-back, 0) 0%, rgba($color-back, 0.97) 20%)
  opacity: 1
  transition: all 4s

.slc__lar1, .slc__lar2
  width: 25%
  height: auto
  @include prefix(flex-direction, column-reverse)

  .slc__infos
    width: 100%
    padding-right: 0

  .slc__infos-top
    margin: $modulor 0 $modulor*2

  .divider-h
    display: none

  .slc__img
    height: 25vw
    @include prefix(flex-grow, 0)

  .slc__overlay
    background: linear-gradient(90deg, rgba($color-back, 0) 0%, rgba($color-back, 0.97) 50%)

.slc__lar3, .slc__lar4
  width: 50%

  .slc__overlay
    background: linear-gradient(90deg, rgba($color-back, 0) 0%, rgba($color-back, 0.97) 33%)

.slc__lar5, .slc__lar6
  width: 75%

.slc__lar7
  width: 100%
  margin: $modulor/2 !important

.slc__marh1,
.slc__marh2,
.slc__marh3
  margin-right: 8.33%
.slc__marh4
  margin-right: 16.66%
.slc__marh5
  margin-left: 8.33%
.slc__marh6
  margin-left: 16.66%

.slc__marv1,
.slc__marv2,
.slc__marv3
  margin-top: $modulor*6
.slc__marv4
  margin-top: $modulor*12
.slc__marv5
  margin-bottom: $modulor*6
.slc__marv6
  margin-bottom: $modulor*12
