// main: ../../../style.sass


.l-header
  display: flex
  position: fixed
  height: $header_barre-height
  padding: 0 $modulor*5 0 $modulor
  align-items: center
  top: 0
  left: 0
  right: 0
  z-index: 2

.l-header__baseline
  span
    width: 100%
    float: left
    font-size: 18px
    letter-spacing: 1px

  span:last-child
    padding-left: $modulor*3

.l-header__logo
  svg
    height: $modulor*2

.l-header__nav-fixed
  display: flex
  flex-direction: row
  justify-content: space-between
  position: fixed
  width: 50%
  top: 0
  right: 0
  padding-left: $modulor*2
  z-index: 1000

.l-header__nav-editons
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 50%
  height: $header_barre-height

  .divider-h
    flex-grow: 2
    height: 1px
    background: $color__08
    margin: $modulor

  .switch
    margin: 0 $modulor/2

.l-header__nav-r
  display: flex
  flex-direction: row

.nav__button
  display: block
  width: $header_barre-height
  height: $header_barre-height
  padding: $header_barre-height /3 $header_barre-height /4
  border-left: 1px solid $color-principale
  cursor: pointer

  span
    height: 1px
    width: 100%
    background: $color-principale
    float: left
    margin-bottom: $modulor/2
    transition: all 0.5s

  span#mobile_control_1.is--active
    transform: translateY(12px) rotate(135deg)

  span#mobile_control_2.is--active
    transform: translateY(8px) rotate(-30deg)
    opacity: 0

  span#mobile_control_3.is--active
    transform: translateY(-7px) rotate(-135deg)

.nav__button:hover
  #mobile_control_1
    transform: translateY(4px)

  #mobile_control_2
    transform: translateY(-4px)
    opacity: 0

  #mobile_control_3
    transform: translateY(-4px)

.l-header__nav
  display: none

  &.is--active
    display: flex
    flex-direction: row
    position: fixed
    z-index: 10
    width: 100%
    top: 0
    right: 0
    background: $color-back
    z-index: 100

.l-header__nav > *
  position: relative
  width: 50%
  height: 100vh

.nav__main
  float: left
  width: 100%
  margin: $modulor*3 0 $modulor

  li
    width: 100%
    padding: $modulor 0
    text-align: left
    border-bottom: 1px solid $color__08

  li:last-child
    border-bottom: none

  a:link, a:visited
    font-family: "apoc", Helvetica, sans-serif

  li.current-menu-item
    a:link, a:visited
      color: $color-accent

.nav__secondaire
  li
    width: 100%
    float: left

.l-header__content
  float: left
  padding: $modulor*2

  .divider
    width: 1px
    height: $modulor*6
    float: left

.l-header__links
  position: absolute
  bottom: $modulor*2

  li
    display: inline-block
    padding: $modulor

  li:first-of-type
    padding: $modulor $modulor $modulor 0

  a:link, a:visited
    text-transform: capitalize
    color: $color__09

.l-header__nav-language
  padding: $modulor
  li
    display: inline-block
    float: right
    padding: $modulor/2
