// main: ../../../style.sass
// main: ../../../style__sunrise.sass

.l-oeuvre

.oeu__main-auteurs
  margin: $modulor*5 0

.oeu__profession
  display: flex

.oeu__profession-title,
.oeu_qqns
    width: 50%

.oeu__profession-title
  @include prefix(flex-shrink, 0)
